Clients/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="GetFlights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="GetFlightsResult" nillable="true" type="q1:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByFn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightnumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByFnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="GetByFnResult" nillable="true" type="q2:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fn" type="xs:int" />
        <xs:element minOccurs="0" name="t" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ad" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFlightResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>